# Dependencies
/node_modules

# Build output
/dist
/tmp
/out-tsc

# IDEs
/.idea
/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

# System
.DS_Store
Thumbs.db

# Angular cache
/.angular/cache

# Misc
*.log
npm-debug.log*
